code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0b1e00 url("./img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

h1 {
  text-align: center;
  margin-top: 30px;
  color: yellow;
}

.page-text {
  text-align: center;
  font-size: 18px;
  color: white;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 20px;
}

.page {
  background: #0b5010 url("./img/background_2.png");
  border: 2px ridge darkgreen;
  position: relative;
  top: 15px;
  width: 60%;
  margin-left: 20%;
}


.header-item {
  background-color: darkolivegreen;
  text-align: center;
  padding-bottom: 4px;
}

.header-ref {
  width: 32.99%;
  text-decoration: none;
  color: yellow;
}

.header-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}




.page-time {
  text-align: center;
  font-size: 20px;
  margin-top: 60px;
  color: yellow;
}

.page-container {
  color: yellow;
  display: flex;
  justify-content: space-around;
}

.page-home_club {
  float: left;
  text-align: right;
  width: 420px;
  height: 240px;
}

.page-home_club_info {
  float: left;
  margin-left: 100px;
  max-width: 213px;
}

.page-home_club_logo {
  float: left;
}

.page-home_club_name {
  font-size: 30px;
  margin-top: 220px;
  text-align: center;
}

.page-home_club_score {
  padding: 0 15px;
  background-color: red;
  border-radius: 3px;
  float: right;
  text-align: right;
  width: 46px;
  margin-top: 50px;
  font-size: 90px;
}

.page-guest_club {
  width: 420px;
  float: right;
  text-align: left;
  height: 240px;
}

.page-guest_club_logo {
  float: right;
}

.page-guest_club_info {
  float: right;
  margin-right: 100px;
  max-width: 213px;
}

.page-guest_club_score {
  padding: 0 15px;
  border-radius: 3px;
  background-color: red;
  float: left;
  text-align: left;
  width: 46px;
  margin-top: 50px;
  font-size: 90px;
}

.page-guest_club_name {
  font-size: 30px;
  margin-top: 220px;
  text-align: center;
}

.page-bet_block {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  color: yellow;
}

.page-bet_block>input {
  display: none;
}

.page-bet_block>label {
  width: 90px;
  color: yellow;
  display: inline-block;
  padding: 7px;
  text-align: center;
  border: 1px solid yellow;
  background: inherit;
  cursor: pointer;
}

.page-bet_block>label:hover {
  border: 1px solid green;
  color: green;
}

.page-bet_block>input:checked + label {
  color: white;
  border: 1px solid green;
  background: green;
}

.page-bet_value_block {
  display: flex;
  margin-top: 50px;
  color: yellow;
  margin-left: 60px;
}

#input_1> {
  width: 200px;
}

.page-bet_value_block>label {
  margin-left: 20px;
}

tr {
  border: yellow solid 1px;
  height: 30px;
}

th {
  height: 40px;
}

.page-results {
  border-collapse: collapse;
  text-align: center;
}

.table-date {
  width: 15%;
}

.table-game {
  width: 40%;
}

.table-type {
  width: 10%;
}

.table-sum {
  width: 20%;
}

.table-res {
  width: 30%;
}

.header-menu {
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-info {
  color: yellow;
  margin: 30px 50px;
  font-size: 20px;
}

.page-current_text {

}

.page-current_value {
  margin-left: 2%;
}

.page-results {
  margin-left: 5px;
  display: block;
  overflow: auto;
  max-height: 838px;
  min-height: 538px;
  color: yellow;
  position: relative;
  top: 0;
}

caption {
  margin: 10px;
}

.page-game:hover {
  background-color: green;
}

.game-ref {
  text-decoration: none;
  cursor: pointer;
  border: #0b5010 solid 1px;
  width: 100%;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
}

.game_time {
  margin-left: 3%;
  width: 10%;
  text-align: right;
}

.home_team {
  margin-left: 19%;
  width: 15%;
  text-align: right;
}

.home_team_goals {
  margin-left: 2%;
}

.guest_team_goals {
  margin-left: 1.5%;
}

.guest_team {
  margin-left: 2%;
}

.tabs {
  width: 100%;
  color: white;
}

.tabs>input {
  display: none;
}

.tabs>div {
  display: none;
  border: 1px solid #0b5010;
  background: unset;
}

.tabs>label {
  border-radius: 5px;
  display: inline-block;
  padding: 7px 15px;
  margin-top: 25px;
  width: 11.5%;
  text-align: center;
  border: 1px solid #0b5010;
  border-bottom: none;
  background: inherit;
  cursor: pointer;
}

.tabs>input:checked + label {
  color: white;
  border: 1px solid #0b5010;
  border-bottom: none;
  background: green;
}

#tab_1:checked ~ .page-start_games_area,
#tab_2:checked ~ .page-finish_games_area {
  display: block;
}
