body {
  background: #0b1e00 url("./img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

.page {
  background: url("./img/b.jpg");
  border: 2px ridge darkgreen;
  position: relative;
  top: 15px;
  width: 60%;
  margin-left: 20%;
  height: 800px;
}

.header-item {
  background-color: darkolivegreen;
  padding: 5px 119px;
}

.header-menu {
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-ref {
  text-decoration: none;
  color: yellow;
  display: flex;
}

.page-info {
  color: yellow;
  margin: 30px 50px;
  font-size: 20px;
}

.page-current_text {
}

.page-current_value {

}

.page-results {
  display: block;
  overflow: auto;
  max-height: 522px;
  min-height: 522px;
  color: yellow;
  position: relative;
  top: 0;
}

caption {
  margin: 10px;
}
