body {
  background: #0b1e00 url("../img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
}

h1 {
  margin-top: 30px;
  color: yellow;
}

.page-text {
  font-size: 18px;
  color: white;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 20px;
}

.page {
  background: #0b5010 url("../img/background_2.png");
  border: 2px ridge darkgreen;
  position: relative;
  top: 15px;
  width: 60%;
  margin-left: 20%;
}

.header-item {
  background-color: darkolivegreen;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.header-ref {
  width: 33%;
  text-decoration: none;
  color: yellow;
}

tr {
  border: yellow solid 1px;
  height: 30px;
}

th {
  height: 40px;
}

.page-results {
  border-collapse: collapse;
  text-align: center;
}

.table-date {
  width: 20%;
}

.table-game {
  width: 40%;
}

.table-type {
  width: 15%;
}

.table-sum {
  width: 15%;
}

.table-res {
  width: 10%;
}

.header-menu {
  height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-info {
  color: yellow;
  margin: 30px 50px;
  font-size: 20px;
}

.page-current_text {
}

.page-current_value {
  margin-left: 2%;
}

.page-results {
  display: block;
  overflow: auto;
  max-height: 522px;
  min-height: 522px;
  color: yellow;
  position: relative;
  top: 0;
}

caption {
  margin: 10px;
}
